{% extends 'base.html' %}

{% block title %}
{{ recipe_object.title }} - Scrumptious Recipes
{% endblock title %}

{% block content %}
    <header>
        <nav>
            <a class="navbar" href="{% url 'recipe_list' %}">Main page</a>
            <a class="navbar" href="{% url 'create_recipe' %}">Create a Recipe</a>
            <a class="navbar" href="{% url 'edit_recipe' recipe_object.id %}">Edit Recipe</a>
        </nav>
    </header>
    <main>
        <h1>{{ recipe_object.title }}</h1>
        <div>
        </div>
        <img src="{{ recipe_object.picture }}" alt="Food Image" width="200" height="200">
        <div>4.3 stars</div>

        <p>{{ recipe_object.description }}</p>
        <p>Created by: {{ recipe_object.author }} on {{ recipe_object.created_on|date:"F j" }}</p>

        <h2>Ingredients</h2>
        <table>
            <thead>
                <th>Amount</th>
                <th>Food item</th>
            </thead>
            <tbody>
                {% for ingredient in recipe_object.ingredients.all %}
                <tr>
                    <td>{{ ingredient.amount }}</td>
                    <td>{{ ingredient.food_item }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2>Steps</h2>
        <ol>
        {% for step in recipe_object.steps.all %}
            <li>{{ step.instruction }}</li>
        {% endfor %}
        </ol>
    </main>
{% endblock content %}
