{% extends 'base.html' %}

{% block title %}
{{ recipe_object.title }} - Scrumptious recipes
{% endblock title %}

{% block content %}
    <header>
        <nav>
            <a href="{% url 'recipe_list' %}">Main page</a>
        </nav>
    </header>
    <main>
        <h1>Edit {{ post_recipe.title }}</h1>
        <form method="post">
            {% csrf_token %}
            {{ post_form.as_p }}
            <button>Save</button>
        </form>
    </main>
{% endblock content %}
