{% extends 'base.html' %}

{% block title %}
  Scrumptious recipes
{% endblock title %}

{% block content %}
  <header>
    <nav>
      <a class='navbar' href="{% url 'recipe_list' %}">Main page</a>

      {% if user.is_authenticated %}
        Hello, {{ user.username }}
        <a class='navbar' href="{% url 'my_recipe_list' %}">My recipes</a>
        <a class='navbar' href="{% url 'create_recipe' %}">Create a Recipe</a>
        <a class='navbar' href="{% url 'user_logout' %}">Logout</a>
      {% else %}
        <a class='navbar' href="{% url 'signup' %}">Sign up</a>
        <a class='navbar' href="{% url 'user_login' %}"> Login</a>
      {% endif %}
    </nav>
  </header>
  <main>
    <h1>Scrumptious Recipes</h1>
    <h2>All the food that's fit to eat</h2>
    <div class="grid-container">
      {% for recipe in recipe_list %}
      <div>
        <h3>
          <a class=recipe href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
        </h3>
        <p>{{ recipe.created_on|date:"F j"}}</p>
        <img src="{{ recipe.picture }}" height="200" width="200">
        <div>4.3 stars</div>
      </div>
    {% empty %}
        <p>There are no recipes.</p>
      {% endfor %}
    </div>
  </main>
{% endblock content %}
