
body {
    margin: 0px;
    padding-bottom: 4px;
    background-color: rgb(252, 255, 247);
}

main {
    background-color: rgb(252, 255, 247);
    padding: 16px;
}

footer {
    color: rbg(252, 255, 247);
    size: 32px;
    border-top: 3px solid black;
    background-color: rgb(126, 161, 107);
    padding-top: 24px;
    padding-left: 16px;
    padding-bottom: 24px;
}

nav {
    color: rgb(252, 255, 247);
    background-color: rgb(126, 161, 107);
    border-bottom: 3px solid rgb(54, 73, 78);
    padding: 16px;
}

.navbar {
    padding-left: 12px;
    padding-right: 12px;
}

h1 {
    color: rgb(38, 196, 133);
}

a {
    text-decoration: none;
    color: whitesmoke;
}

a:visited {
    color: whitesmoke;
}

a.recipe {
    color: rgb(126, 161, 107)
}

a.recipe:visited {
    color: rgb(126, 161, 107);
}

a.recipe:hover {
    color: rgb(38, 196, 133);
}

a:hover {
    color: rgb(38, 196, 133);
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-bottom: 16px;
}

tr:nth-child(even) {
    background-color: rgb(202, 202, 202)
}
